@import "tailwindcss";

:root {
  --background: #fff2e9;
  --foreground: #171717;
  --textColor: #070707;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --textColor: #070707;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  color: var(--textColor);
  font-family: var(--font-josefin);
}
.contentLayout {
  padding: 1rem 2rem 3rem 2rem;
  background: #f04b4b;
  min-width: 100%;
  min-height: 100vh;
}

.card-shadow {
  box-shadow: 4px 4px 0px 0px var(--text-color);
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
}
.cardWithShadow {
  box-shadow: 4px 4px 0px 0px var(--text-color);
  border: 2px solid var(--text-color);
  /* border-radius: 8px; */
  background-color: var(--bg-color);
}
